@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
    --bleuCiel: hsl(252, 100%, 67%);
    --bleuFonce: hsl(241, 81%, 54%);
    --grisLeger: hsl(241, 100%, 89%);
    --violetBleu: hsla(256, 72%, 46%, 1);
    --violetBleuLeger: hsla(241, 72%, 46%, 0);
    --bleuCobalt: hsl(234, 85%, 45%);
    --bleuNuit: hsl(224, 30%, 27%);
}

body {
    overflow: hidden;
    font-family: 'Hanken Grotesk', sans-serif;
    margin: 0;
    padding: 0;
}
h3 {
    color: var(--grisLeger);
    font-size: 1.2rem;
}

h2, h1 {
    color: white;
    margin-bottom: .5rem;
}
h1 {
    font-size: 4rem;
    margin: 0;
}
p {
    font-size: .9rem;
    color: var(--grisLeger);
    margin: 0;
}
#comment-section {
    margin-bottom: 1rem;
    padding-inline: 3rem;
}
#on100 {
    font-weight: 800;
}
.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 400px) {
    .container {
        width: 100vw;
        height: 0;
    }
}
.container-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 39rem;
    border: 1px solid #e9e9e9;
    border-radius: 25px;
}
@media screen and (max-width: 400px) {
    .container-content {
        width: 100%;
        height: 0;
        grid-template-columns: 1fr;
        border: 0;
    }
}
.container-content-result {
    background: linear-gradient(var(--bleuCiel), var(--bleuFonce));
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
@media screen and (max-width: 400px) {
    .container-content-result {
        border-radius: 0 0 25px 25px;
    }
}
.container-content-result-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 100%;
    width: 11rem;
    height: 11rem;
    background: linear-gradient(var(--violetBleu), var(--violetBleuLeger));
}
.container-content-result-header {
    flex-direction: column;
    gap: .8rem;
}
.container-content-summary {
    padding-inline: 2rem;
    padding-block: 2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}
#summary-title {
    color: var(--bleuNuit);
    font-weight: 700;
    font-size: 1.3rem;
}
.container-content-summary-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    border-radius: 5px;
    gap: 1rem;
    padding-block: 1.5rem;
}
.container-content-summary-grid-title {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    font-weight: 500;
}
.container-content-summary-grid-red {
    display: flex;
    background-color: #FFF6F5;
    justify-content: space-between;
    border-radius: 5px;
    padding: .7rem;
    color: hsl(0, 100%, 67%);
}
.container-content-summary-grid-yellow {
    display: flex;
    background-color: #FFFBF2;
    justify-content: space-between;
    border-radius: 5px;
    padding: .7rem;
    color: hsl(39, 100%, 56%);
}
.container-content-summary-grid-green {
    display: flex;
    background-color: #F2FBFA;
    justify-content: space-between;
    border-radius: 5px;
    padding: .7rem;
    color: hsl(166, 100%, 37%);
}
.container-content-summary-grid-blue {
    display: flex;
    background-color: #F3F3FD;
    justify-content: space-between;
    border-radius: 5px;
    padding: .7rem;
    margin-bottom: 2rem;
    color: hsl(234, 85%, 45%);
}
.container-content-summary-btn {
    display: flex;
    color: white;
    background-color: var(--bleuNuit);
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0.8rem;
    font-size: .8rem;
    font-weight: 700;
    gap: 0.5rem;
    width: 100%;
    transition: background-color 5s;
    cursor: pointer;
    border: unset;
}
.container-content-summary-btn:hover {
    background-color: var(--bleuFonce);
}
.summary-score {
    font-weight: 800;
    color: var(--bleuNuit);
}
.summary-score-on100 {
    font-weight: 500;
    color: grey;
}